.product-details-main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 1200px;
  margin: auto;
  padding: 2rem 0;
  gap: 2rem;
}
.product-detail-left-images {
  display: grid;
  grid-template-columns: repeat(2, 0.8fr);
  grid-gap: 1rem;
  margin-bottom: 1rem;
}
.product-detail-left-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.brand-name {
  font-size: 0.6rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: gray;
}

.product-detail-right-price {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.find-size {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: gray;
  text-decoration: underline;
}
.product-size-btn {
  display: inline-block;
  font-size: 0.9rem;
  padding: 0.3rem 1.5rem;
  border: 1px solid lightgray;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-right: 0.5rem;
  margin-bottom: 0.8rem;
  cursor: pointer;
  background-color: white;
}
.product-size-btn:hover {
  background-color: #f0f0f0;
}
.quantity {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-top: 2rem;
  color: gray;
}
.quantity-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10rem;
  margin-bottom: 1rem;
  border: 1px solid lightgray;
  padding: 0.3rem 0.3rem;
}
.quantity-btn {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.3rem 1rem;
  cursor: pointer;
  background-color: white;
  border: none;
}
.quantity-input {
  font-size: 1rem;
  font-weight: 500;
  /* padding: 0.3rem 2rem; */
  cursor: pointer;
  background-color: white;
  width: 3rem;
  text-align: center;
  border: none;
  color: black;
}
.add-to-cart-btn {
  display: inline-block;
  font-size: 1rem;
  width: 100%;
  padding: 0.5rem 1.5rem;
  border: 1px solid lightgray;
  margin-right: 0.5rem;
  margin-bottom: 0.8rem;
  cursor: pointer;
  background-color: white;
}
.add-to-cart-btn:hover {
  background-color: #f0f0f0;
}
.product-detail-right-description {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-top: 2rem;
  color: gray;
}
